NEXT_PUBLIC_WALLET_PRIVATE_KEY=
NEXT_PUBLIC_WALLET_ADDRESS=
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=


NEXT_PUBLIC_STORY_RPC_URL=https://aeneid.storyrpc.io
NEXT_PUBLIC_STORY_CHAIN_ID=1315

NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_SECRET_KEY=
NEXT_PUBLIC_PINATA_JWT=